
/* CSS HEX */
:root {
    --sweet-brown: #ac3931ff;
    --arylide-yellow: #e5d352ff;
    --maximum-green-yellow: #d9e76cff;
    --teal-blue: #537d8dff;
    --dark-byzantium: #482c3dff;
    --pale-purple-pantone: #f1e3f3ff;
    --olive-drab-7: #312509ff;
    --xanadu: #808f85ff;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color:cadetblue;
}

.body-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.top-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pale-purple-pantone);
    margin: 3%;
    height: 75%;
    width: 80%;
    padding: 25px;
    border: 3px seashell solid;
    
}

.imgbox{
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px #000 solid;
    margin: 0px 15px;

}

.imgbox img {
	height: 100%;
	clip-path: inset( 50px 420px 50px 420px);
}

.rock{
background-color:darkolivegreen;
}

.paper{
    background-color: papayawhip;
}

.scissor{
    background-color: dimgray;
}

.bottom-holder {
border: none;
display: flex;
justify-content: space-between;
margin-top: 100px;
width: 83%;
}

