
/* CSS HEX */
:root {
    --sweet-brown: #ac3931ff;
    --arylide-yellow: #e5d352ff;
    --maximum-green-yellow: #d9e76cff;
    --teal-blue: #537d8dff;
    --dark-byzantium: #482c3dff;
    --pale-purple-pantone: #f1e3f3ff;
    --olive-drab-7: #312509ff;
    --xanadu: #808f85ff;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color:cadetblue;
}

.body-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.top-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pale-purple-pantone);
    margin: 0%;
    height: 65%;
    width: 80%;
    padding: 15px;
    border: 3px seashell solid;
    
}

.imgbox{
    width: 305px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px #000 solid;
    padding: 10px;
    margin: 0px 15px;

}

.imgbox img {
	height: 100%;
	clip-path: inset( 20px 200px);
}

.imgbox.rock{
background-color:darkolivegreen;
}

.imgbox.rock:hover{
background-color: olivedrab;
}

.imgbox.paper{
    background-color: papayawhip;
}

.imgbox.paper:hover{
    background-color: snow;
}

.imgbox.scissor{
    background-color: dimgray;
}

.imgbox.scissor:hover{
    background-color: grey;
}

.bottom-holder {
font-size: larger;
border: none;
display: flex;
margin-top: 100px;
width: 85%;
height: 200px;
justify-content: space-around;
}

a:link {
color: brown;
}

a:visited {
color: brown;
}

a:active, a:hover {
color: darkolivegreen;
}

