
/* CSS HEX */
--sweet-brown: #ac3931ff;
--arylide-yellow: #e5d352ff;
--maximum-green-yellow: #d9e76cff;
--teal-blue: #537d8dff;
--dark-byzantium: #482c3dff;

/* CSS HSL */
--sweet-brown: hsla(4, 56%, 43%, 1);
--arylide-yellow: hsla(53, 74%, 61%, 1);
--maximum-green-yellow: hsla(67, 72%, 66%, 1);
--teal-blue: hsla(197, 26%, 44%, 1);
--dark-byzantium: hsla(324, 24%, 23%, 1);

/* SCSS HEX */
$sweet-brown: #ac3931ff;
$arylide-yellow: #e5d352ff;
$maximum-green-yellow: #d9e76cff;
$teal-blue: #537d8dff;
$dark-byzantium: #482c3dff;

/* SCSS HSL */
$sweet-brown: hsla(4, 56%, 43%, 1);
$arylide-yellow: hsla(53, 74%, 61%, 1);
$maximum-green-yellow: hsla(67, 72%, 66%, 1);
$teal-blue: hsla(197, 26%, 44%, 1);
$dark-byzantium: hsla(324, 24%, 23%, 1);

/* SCSS RGB */
$sweet-brown: rgba(172, 57, 49, 1);
$arylide-yellow: rgba(229, 211, 82, 1);
$maximum-green-yellow: rgba(217, 231, 108, 1);
$teal-blue: rgba(83, 125, 141, 1);
$dark-byzantium: rgba(72, 44, 61, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-right: linear-gradient(90deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-bottom: linear-gradient(180deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-left: linear-gradient(270deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-top-right: linear-gradient(45deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-bottom-right: linear-gradient(135deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-top-left: linear-gradient(225deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-bottom-left: linear-gradient(315deg, #ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);
$gradient-radial: radial-gradient(#ac3931ff, #e5d352ff, #d9e76cff, #537d8dff, #482c3dff);


body{
    color: azure;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: auto;
}
